<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/dark.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" href="static/icon.png">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#    <script>window.jQuery || document.write('<script src="static/jquery.min.js">\x3C/script>')</script>#}
    <script>window.jQuery || document.write('<script src="static/jquery.min.js">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = "";
        pause();
        window.onload = function() {
{#            document.getElementById("display").width = {{ screen_width }}*{{ char_width }};#}
{#            document.getElementById("display").height = {{ screen_height }}*{{ char_height }};#}
            window.playback_timeout = 1000;
            window.canceled = false;
            drawLoop();
            disable_btn_bar();
            window.charSetLayout = "col";
            var charSetName = document.getElementById("chars").src;
            if (charSetName.indexOf("_ro.") != -1) {
                window.charSetLayout = "row";
            } else if (charSetName.indexOf("_tc.") != -1) {
                window.charSetLayout = "tc";
            }
            document.getElementById("scoreSelector").onclick = function () {
                updateScoreboard();
            };
            document.getElementById("compSelector").onclick = function () {
                updateComp();
            };
            document.getElementById("logout").onclick = function() {
                logout();
            };
            document.getElementById("login").onclick = function() {
                login();
            };
        };
        function logout() {
            delete window.token;
            document.getElementById("scoreSelector").style.display = "None";
            document.getElementById("compSelector").style.display = "None";
            document.getElementById("logout").style.display = "None";
            document.getElementById("submitCode").style.display = "None";
            document.getElementById("login").style.display = "";
        }
        function login() {
            window.token = prompt("Enter your token:", "");
            //check_token
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + 'check_token',
                data: JSON.stringify({token: window.token}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if (window.canceled) {
                        return;
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                    if (data["error"]) {
                        alert(data["error"]);
                    } else {
                        document.getElementById("scoreSelector").style.display = "";
                        document.getElementById("logout").style.display = "";
                        document.getElementById("submitCode").style.display = "";
                        document.getElementById("login").style.display = "None";
                        checkComps();
                    }
                },
                failure: function(errMsg) {
                    if (window.canceled) {
                        return;
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                    alert(errMsg);
                }
            });
            document.getElementById("loadingOverlay").style["display"] = "";
            return false;
        }
        function setPlaybackTimeout(timeout) {
            window.playback_timeout = timeout;
            if (window.cur_frame >= replay_frames.length) {
                window.cur_frame = 0;
            }
            play();
        }
        function checkComps() {
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + 'comp_scoreboards',
                data: JSON.stringify({token: window.token}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    data = data["comps"];
                    // Sort the data
                    if (data.length <= 0) {
                        return;
                    }
                    document.getElementById("compSelector").style.display = "";
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });
        }
        function testCode() {
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + 'sim',
                data: JSON.stringify({code: editor.getValue()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if (window.canceled) {
                        return;
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                    if (data["error"]) {
                        alert(data["error"]);
                    } else {
                        drawFrames(data);
                        enable_btn_bar();
                    }
                },
                failure: function(errMsg) {
                    if (window.canceled) {
                        return;
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                    alert(errMsg);
                }
            });
            document.getElementById("loadingOverlay").style["display"] = "";
            return false;
        }
        function submitCode() {
            if (!window.token) {
                login();
            }
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + 'sim_avg',
                data: JSON.stringify({code: editor.getValue(), token: window.token}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if (data.hasOwnProperty("error")) {
                        if (data["error"] == "Invalid Token") {
                            logout();
//                            window.token = "";
//                            document.getElementById("scoreSelector").style.display = "None";
                        }
                    } else {
                        document.getElementById("scoreSelector").style.display = "";
                        alert("You average score was " + data["score"]);
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                },
                failure: function(errMsg) {
                    if (window.canceled) {
                        return;
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                    alert(errMsg);
                }
            });
            document.getElementById("loadingOverlay").style["display"] = "";
            return false;
        }
        function updateScoreboard() {
            $("#scoreTable").html("");
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + 'scoreboard',
                data: JSON.stringify({token: window.token}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    // Sort the data
                    function compare(a,b) {
                      if (a.score < b.score)
                        return 1;
                      if (a.score > b.score)
                        return -1;
                      return 0;
                    }
                    var scores = data["scores"];
                    scores.sort(compare);

                    var row = $("<tr>").append($("<th>").html("Name")).append($("<th>").html("Average Score"));
                    $("#scoreTable").html("").append(row);
                    scores.forEach(function myFunction(item, index) {
                        var row = $("<tr>").append($("<td>").html(item["name"])).append($("<td>").html(item["score"]));
                        $("#scoreTable").append(row);
                    });
                    document.getElementById("scoreSchool").innerHTML = data["school"];
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });
        }
        function updateComp() {
            $("#compTable").html("");
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + 'comp_scoreboards',
                data: JSON.stringify({token: window.token}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    data = data["comps"];
                    // Sort the data
                    if (data.length <= 0) {
                        return;
                    }
                    comp = data[0];
                    function compare(a,b) {
                      if (a.score < b.score)
                        return 1;
                      if (a.score > b.score)
                        return -1;
                      return 0;
                    }
                    var scores = comp["scores"];
                    scores.sort(compare);

                    var row = $("<tr>").append($("<th>").html("Name")).append($("<th>").html("Average Score"));
                    $("#compTable").html("").append(row);
                    scores.forEach(function myFunction(item, index) {
                        var row = $("<tr>").append($("<td>").html(item["name"])).append($("<td>").html(item["score"]));
                        $("#compTable").append(row);
                    });
//                    document.getElementById("scoreSchool").innerHTML = data["school"];
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });
        }
        function drawFrames(frames) {
            play();
            window.replay_frames = frames;
            window.cur_frame = 0;
        }

        function prevFrame() {
            pause();
            if (window.cur_frame > 0) {
                window.cur_frame--;
            }
            $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
            $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
            draw(window.replay_frames[window.cur_frame]);
        }

        function nextFrame() {
            pause();
            if (window.cur_frame < replay_frames.length-1) {
                window.cur_frame++;
            }
            $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
            $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
            draw(window.replay_frames[window.cur_frame]);
        }

        function drawLoop() {
            if (window.is_playing) {
                if (window.cur_frame < replay_frames.length) {
                    $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
                    $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
                    draw(window.replay_frames[window.cur_frame]);
                    window.cur_frame++;
                    if (window.cur_frame == replay_frames.length) {
                        window.cur_frame--;
                    }
                } else {
                    pause();
{#                    window.cur_frame = 0;#}
                }
            }
            setTimeout(drawLoop, window.playback_timeout);
        }

        function draw(frame) {
            var c=document.getElementById("display");
            var ctx=c.getContext("2d");
            var img=document.getElementById("chars");
            for (var i = 0; i < frame.length; i++) {
                for (var j = 0; j < frame[i].length; j++) {
                    draw_char(c,ctx,img,frame[i][j],j,i);
                }
            }
        }
        function draw_char(canvas, ctx, img, char, x, y){
            var rows = 16;
            var cols = 16;
            var char_height = {{ char_height }};
            var char_width = {{ char_width }};

            if (window.charSetLayout == "col") {
                var sourceY = (char%rows)*char_width;
                var sourceX = Math.floor(char/rows)*char_width;
                var sourceWidth = char_width;
                var sourceHeight = char_height;
            } else if (window.charSetLayout == "row") {
                var sourceX = (char%cols)*char_width;
                var sourceY = Math.floor(char/cols)*char_width;
                var sourceWidth = char_width;
                var sourceHeight = char_height;
            }

            var destWidth = sourceWidth;
            var destHeight = sourceHeight;
            var destX = x*char_width;
            var destY = y*char_height;

            ctx.drawImage(img, sourceX, sourceY, sourceWidth, sourceHeight, destX, destY, destWidth, destHeight);

        }
        function pause() {
            window.is_playing = false;
        }
        function play() {
            window.is_playing = true;
        }
        function toggle_play() {
            window.is_playing = !window.is_playing;
        }
        function stop() {
            pause();
            window.cur_frame = 0;
            $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
            $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
            draw(window.replay_frames[window.cur_frame]);
        }
        function cancelSubmit() {
            window.canceled = true;
            document.getElementById("loadingOverlay").style["display"] = "none";
            play();
        }
        function disable_btn_bar() {
            $("#btn-bar :button").attr("disabled", true);
        }
        function enable_btn_bar() {
            $("#btn-bar :button").attr("disabled", false);
        }
    </script>
</head>
<body>
{#<div class="container" style="width: 100%">#}
{#    <h3>{{ game_title }}</h3>#}
{#    <ul class="nav nav-pills nav-justified">#}
{#        <li class="active"><a href="#Intro">Intro</a></li>#}
{#        <li><a href="#Game">Game</a></li>#}
{#        <li><a href="#Bot">Bot</a></li>#}
{#    </ul>#}
{#</div>#}
<div class="container" style="width: 100%;padding: 10px;">
    <h1>{{ game_title }}</h1>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#Intro">Intro</a></li>
{#      <li><a data-toggle="tab" href="#Game">Game</a></li>#}
      <li><a data-toggle="tab" href="#Bot">Bot</a></li>
      <li><a id="scoreSelector" data-toggle="tab" href="#Score" style="display: none;">School Scoreboard</a></li>
      <li><a id="compSelector" data-toggle="tab" href="#Comp" style="display: none;">Competition Rankings</a></li>
      <li style="float: right;"><a id="logout" style="display: none;"><span id="token"></span>Log out</a></li>
      <li style="float: right;"><a id="login" style="">Log in</a></li>
    </ul>
</div>

<div class="tab-content">
  <div id="Intro" class="tab-pane fade in active">
    <p>{% filter markdown %}{{ intro_text }}{% endfilter %}</p>
  </div>
  <div id="Game" class="tab-pane fade">
      <h3>Play the Game</h3>
      <p>This is where the user can play the game to test out different ideas.</p>
      <div style="margin-left: 1em;margin-right: 1em;">
        <canvas id="displayPlayer" height="{{ screen_height * char_height }}px" width="{{ screen_width * char_width }}px"></canvas>
      </div>
  </div>
  <div id="Bot" class="tab-pane fade">
      <div id="loadingOverlay" style="display: none;">
          <div style="top: 50%; left: 50%; position: absolute;transform: translate3d(-50%,-50%, 0);text-align: center;">
              <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
              <br><br>
              <span id="overlayCancel" onclick="cancelSubmit();">Cancel</span>
          </div>
      </div>
      <div id="wrap">
        <div id="left_col">
{#            <img id="chars" src="{{url_for('static', filename='terminal.png') }}" style="display: none;">#}
            <img id="chars" src="static/fonts/{{ char_set }}" style="display: none;">
            <canvas id="display" height="{{ screen_height * char_height }}px" width="{{ screen_width * char_width }}px"></canvas>
            <div>
                <div class="progress">
                    <div id="playbackProgress" class="progress-bar fast" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    </div>
                </div>
                <span id="playbackProgressText">Frame 0 of 0</span>
            </div>
            <br>
            <div id="btn-bar">
                <button onclick="stop();">Stop</button>
                <button onclick="prevFrame();">&lt;</button>
                <button onclick="toggle_play();">Play/Pause</button>
                <button onclick="nextFrame();">&gt;</button>
                <button onclick="setPlaybackTimeout(1000);">1x</button>
                <button onclick="setPlaybackTimeout(500);">2x</button>
                <button onclick="setPlaybackTimeout(200);">5x</button>
                <button onclick="setPlaybackTimeout(100);">10x</button>
                <button onclick="setPlaybackTimeout(10);">100x</button>
                <br>
            </div>
        </div>
        <div id="right_col">
            <pre id="editor">{{ example_bot }}</pre>
{#            <script src="static/ace/ace.js" type="text/javascript" charset="utf-8"></script>#}
            <script src="static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/twilight");
                editor.session.setMode("ace/mode/lp");
            </script>
            <br>
            <button id="testCode" onclick="testCode();">Play</button>
            <button id="submitCode" onclick="submitCode();" style="display: none;">Submit</button>
        </div>
    </div>
  </div>
  <div id="Score" class="tab-pane fade">
      <h3>Scoreboard for <span id="scoreSchool"></span></h3>
      <table id="scoreTable">
          <tr>
              <th>Name</th>
              <th>Average Score</th>
          </tr>
      </table>
  </div>
  <div id="Comp" class="tab-pane fade">
      <!--<h3>Scoreboard for <span id="scoreSchool"></span></h3>-->
      <h3>Rankings</h3>
      <table id="compTable">
          <tr>
              <th>Name</th>
              <th>Average Score</th>
          </tr>
      </table>
  </div>
</div>
</body>
</html>
