<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">#}
    <link rel="stylesheet" href="{{ base_url }}static/dark.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>#}
    <script>window.jQuery || document.write('<script src="{{ base_url }}static/jquery.min.js">\x3C/script>')</script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ base_url|tojson|safe }};
        pause()
        $(function() {
{#            $('a#submitCode').bind('click', function() {#}
{#            });#}
{#            drawLoop();#}
        });
        window.onload = function() {
{#            document.getElementById("display").width = {{ screen_width }}*{{ char_width }};#}
{#            document.getElementById("display").height = {{ screen_height }}*{{ char_height }};#}
            window.playback_timeout = 1000;
            window.canceled = false;
            drawLoop();
            disable_btn_bar();
            window.charSetLayout = "col";
            var charSetName = document.getElementById("chars").src
            if (charSetName.indexOf("_ro.") != -1) {
                window.charSetLayout = "row";
            } else if (charSetName.indexOf("_tc.") != -1) {
                window.charSetLayout = "tc"
            }
        }
        function setPlaybackTimeout(timeout) {
            window.playback_timeout = timeout;
            if (window.cur_frame >= replay_frames.length) {
                window.cur_frame = 0;
            }
            play();
        }
        function submitCode() {
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + 'sim',
                data: JSON.stringify({code: editor.getValue()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    if (window.canceled) {
                        return;
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                    if (data["error"]) {
                        alert(data["error"]);
                    } else {
                        drawFrames(data);
                        enable_btn_bar();
                    }
                },
                failure: function(errMsg) {
                    if (window.canceled) {
                        return;
                    }
                    document.getElementById("loadingOverlay").style["display"] = "none";
                    alert(errMsg);
                }
            });
            document.getElementById("loadingOverlay").style["display"] = "";
            return false;
        }
        function drawFrames(frames) {
            play();
            window.replay_frames = frames;
            window.cur_frame = 0;
        }

        function prevFrame() {
            pause();
            if (window.cur_frame > 0) {
                window.cur_frame--;
            }
            $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
            $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
            draw(window.replay_frames[window.cur_frame]);
        }

        function nextFrame() {
            pause();
            if (window.cur_frame < replay_frames.length-1) {
                window.cur_frame++;
            }
            $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
            $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
            draw(window.replay_frames[window.cur_frame]);
        }

        function drawLoop() {
            if (window.is_playing) {
                if (window.cur_frame < replay_frames.length) {
                    $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
                    $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
                    draw(window.replay_frames[window.cur_frame]);
                    window.cur_frame++;
                    if (window.cur_frame == replay_frames.length) {
                        window.cur_frame--;
                    }
                } else {
                    pause();
{#                    window.cur_frame = 0;#}
                }
            }
            setTimeout(drawLoop, window.playback_timeout);
        }

        function draw(frame) {
            var c=document.getElementById("display");
            var ctx=c.getContext("2d");
            var img=document.getElementById("chars");
            for (var i = 0; i < frame.length; i++) {
                for (var j = 0; j < frame[i].length; j++) {
                    draw_char(c,ctx,img,frame[i][j],j,i);
                }
            }
        }
        function draw_char(canvas, ctx, img, char, x, y){
            var rows = 16;
            var cols = 16;
            var char_height = {{ char_height }};
            var char_width = {{ char_width }};

            if (window.charSetLayout == "col") {
                var sourceY = (char%rows)*char_width;
                var sourceX = Math.floor(char/rows)*char_width;
                var sourceWidth = char_width;
                var sourceHeight = char_height;
            } else if (window.charSetLayout == "row") {
                var sourceX = (char%cols)*char_width;
                var sourceY = Math.floor(char/cols)*char_width;
                var sourceWidth = char_width;
                var sourceHeight = char_height;
            }

            var destWidth = sourceWidth;
            var destHeight = sourceHeight;
            var destX = x*char_width;
            var destY = y*char_height;

            ctx.drawImage(img, sourceX, sourceY, sourceWidth, sourceHeight, destX, destY, destWidth, destHeight);

        }
        function pause() {
            window.is_playing = false;
        }
        function play() {
            window.is_playing = true;
        }
        function toggle_play() {
            window.is_playing = !window.is_playing;
        }
        function stop() {
            pause();
            window.cur_frame = 0;
            $("#playbackProgress").css("width", (window.cur_frame/(replay_frames.length-1))*100 + "%");
            $("#playbackProgressText").html("Frame " + (window.cur_frame+1) + " of " + (replay_frames.length));
            draw(window.replay_frames[window.cur_frame]);
        }
        function cancelSubmit() {
            window.canceled = true;
            document.getElementById("loadingOverlay").style["display"] = "none";
            play();
        }
        function disable_btn_bar() {
            $("#btn-bar :button").attr("disabled", true);
        }
        function enable_btn_bar() {
            $("#btn-bar :button").attr("disabled", false);
        }
    </script>
    <style type="text/css">
        #editor {
            margin: 0;
            width: 100%;
            height: 512px;
        }
        #wrap {
           width:100%;
           margin:0 auto;
        }
        #left_col {
           float:left;
           width:50%;
            padding: 10px;
        }
        #right_col {
           float:right;
           width:50%;
            padding: 10px;
        }
        canvas {
            width: 100%;
        }
    </style>
</head>
<body>
<style type="text/css">
    #playbackProgress.instant {
        transition: width 0s ease;
    }
    #playbackProgress.fast {
        transition: width 0.05s ease;
    }
    #playbackProgress.normal {
        transition: width 0.2s ease;
    }
    #playbackProgress.slow {
        transition: width 0.4s ease;
    }

    #overlayCancel {
        color: white;
    }
    #overlayCancel:hover {
        color: #f0ad4e;
    }

    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
</style>
{#<div class="container" style="width: 100%">#}
{#    <h3>{{ game_title }}</h3>#}
{#    <ul class="nav nav-pills nav-justified">#}
{#        <li class="active"><a href="#Intro">Intro</a></li>#}
{#        <li><a href="#Game">Game</a></li>#}
{#        <li><a href="#Bot">Bot</a></li>#}
{#    </ul>#}
{#</div>#}
<div class="container" style="width: 100%;padding: 10px;">
    <h3>{{ game_title }}</h3>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#Intro">Intro</a></li>
{#      <li><a data-toggle="tab" href="#Game">Game</a></li>#}
      <li><a data-toggle="tab" href="#Bot">Bot</a></li>
    </ul>
</div>

<div class="tab-content">
  <div id="Intro" class="tab-pane fade in active">
    <p>{% filter markdown %}{{ intro_text }}{% endfilter %}</p>
  </div>
  <div id="Game" class="tab-pane fade">
      <h3>Play the Game</h3>
      <p>This is where the user can play the game to test out different ideas.</p>
      <div style="margin-left: 1em;margin-right: 1em;">
        <canvas id="displayPlayer" height="{{ screen_height * char_height }}px" width="{{ screen_width * char_width }}px"></canvas>
      </div>
  </div>
  <div id="Bot" class="tab-pane fade">
      <div id="loadingOverlay" style="display: none;position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index:999; background-color: rgba(0,0,0,0.5);">
          <div style="top: 50%; left: 50%; position: absolute;transform: translate3d(-50%,-50%, 0);text-align: center;">
              <button class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
              <br><br>
              <span id="overlayCancel" onclick="cancelSubmit();">Cancel</span>
          </div>
      </div>
      <div id="wrap">
        <div id="left_col">
{#            <img id="chars" src="{{url_for('static', filename='terminal.png') }}" style="display: none;">#}
            <img id="chars" src="{{ base_url }}static/fonts/{{ char_set }}" style="display: none;">
            <canvas id="display" height="{{ screen_height * char_height }}px" width="{{ screen_width * char_width }}px"></canvas>
            <div>
                <div class="progress">
                    <div id="playbackProgress" class="progress-bar fast" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    </div>
                </div>
                <span id="playbackProgressText">Frame 0 of 0</span>
            </div>
            <br>
            <div id="btn-bar">
                <button onclick="stop();">Stop</button>
                <button onclick="prevFrame();">&lt;</button>
                <button onclick="toggle_play();">Play/Pause</button>
                <button onclick="nextFrame();">&gt;</button>
                <button onclick="setPlaybackTimeout(1000);">1x</button>
                <button onclick="setPlaybackTimeout(500);">2x</button>
                <button onclick="setPlaybackTimeout(200);">5x</button>
                <button onclick="setPlaybackTimeout(100);">10x</button>
                <button onclick="setPlaybackTimeout(10);">100x</button>
                <br>
            </div>
        </div>
        <div id="right_col">
            <pre id="editor">{{ example_bot }}</pre>
{#            <script src="{{url_for('static', filename='ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>#}
            <script src="{{ base_url }}static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var editor = ace.edit("editor");
                editor.setTheme("ace/theme/twilight");
                editor.session.setMode("ace/mode/lp");
            </script>
            <br>
            <button id="submitCode" onclick="submitCode();">Submit</button>
        </div>
    </div>
  </div>
</div>
</body>
</html>
